header{
background-color: rgb(209, 211, 212);
width: 100%;
position: fixed;
z-index:999;
display: flex;
justify-content: space-between;
align-items: center;
padding:10px 200px ;
}

.logo{
text-decoration: none;
color: blueviolet;
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
}
.navigation a{
color: darkslateblue;
text-decoration: none;
font: size 1.1em; ;
font-weight: 500;
padding:30px;
}
 .navigation a:hover{  
color: rgb(189, 36, 36);
 }
 section{ 
padding: 100px 200px;
 }
.main{
width: 100%;
min-width:100vh ;
display: flex;
align-items: center;
background: url(bg.jpg ) no-repeat;
background-size: cover;
background-position:center;
background-attachment: fixed;
padding-left:10px ;
}
.main  h2{
color: rgb(11, 243, 69);
font-size:2em ;
font-weight: 700;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom:30px ;
}
.main-btn{
color: aliceblue;
background-color: blue;
text-decoration: none;
  font-size:1.1em ;
font: weight 600px; ;
display: inline-block;
padding: 0.9375em 2.1875em ;
letter-spacing: 1px;
border-radius:15px ;
margin-bottom: 40px;
}
.main-btn:hover{
background-color: blue;
transform: scale(1.1);
}



